<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="vajra">
  <test name="Vajra">
  <parameter name="browser" value="chrome"/>
  <classes>
  <class name="com.vajra.TestClass.TC_Customer_New_Order_N_S_A_"/>
  </classes>
  </test> 
</suite> 
